<div class="container">
          <li class="nav-item">
            <a class="nav-link"  routerLink='add'>Add  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink='list'>List  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink='update'>Update  </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link"  routerLink='login'>Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink='register'>Register</a>
          </li> -->
      </div>
  
  <router-outlet></router-outlet>
<!-- 
  <app-add-food></app-add-food> -->